@charset "gb2312";
@import url("global.css");
/* CSS Document */

.ycy_path{ height:38px; line-height:38px; color:#000;}
.ycy_path a.path_a1{ color:#004e91;}
.ycy_path a.path_a2{ color:4e4e4e; font-weight:bold;}

.list_content{ height:1409px;}
.list_content .sideL{ width:210px;}
	.sideL .type{ border:2px solid #e6e6e6; height:704px;}
		.type h2{ width:206px; height:28px; background:#f4f4f4; font-size:14px; font-weight:bold; color:#ce0000; line-height:28px; text-indent:16px; border-bottom:2px solid #e6e6e6;}
		.type dl{  background:url(../images/xuxian.gif) no-repeat bottom; width:193px; padding:11px 0px 10px 11px;}
		.type dl.type_dl{background:none;}
		.type dl dt{ height:21px; font-weight:bold; color:#616161;}
		.type dl dt a{ color:#ca0000; font-weight:normal;}
		.type dl dd{ line-height:21px; text-indent:12px; font-family:"ו";}
		.type dl dd a{ color:#004e91;}
	
	.sideL .history{ height:630px; margin-top:10px; border:1px solid #e6e6e6;}
		.history h3{ width:207px; height:32px; background:#f4f4f4; font-size:14px; font-weight:bold; color:#ce0000; line-height:31px; text-indent:16px; border-bottom:1px solid #e6e6e6;}
		.history ul{ padding:1px 7px 20px 8px;}
			.history ul li{  text-align:center; margin-top:14px; background:url(../images/list_xian.gif) no-repeat bottom;}
				.history ul li a{ color:#2d2d2d;}
				.history ul li p.p1{ margin-top:14px;}
				.history ul li p.p2{ color:#cc0000; font-weight:bold; height:28px;}
	

	
	




.list_content .sideR{ width:761px;}
	.select_brand{ border:1px solid #e6e6e6; position:relative; padding:7px 0px 7px 0px;}
	.select_brand .v_box,h_box{ width:739px;}
	.select_brand .v_box h4{ font-size:14px; float:left; line-height:28px; padding-left:10px; color:#3a3a3a; background:url(../images/brand_xian.gif) no-repeat right; width:87px;}
	.v_box ul{  float:left;}
	.h_box ul{ width:700px; float:left;}
	.v_box ul li,.h_box ul li{ float:left; margin-left:13px; display:inline; font-family:"ו"; color:#3a3a3a; margin-top:5px;}
	.v_box ul li a,.h_box ul li a{color:#3a3a3a; white-space:nowrap;}
	.close_box{ position:absolute; right:0px; bottom:0px; width:56px; height:15px; line-height:15px; cursor:pointer;}
	
	
	
	.hot_sale{ height:268px; margin-top:9px;}
	.hot_sale .sale_hidden{ width:759px; height:237px; overflow:hidden; border:1px solid #e6e6e6;}
	
	.hot_sale .title{ background:url(../images/titleR.gif) no-repeat right; height:29px;}
	.hot_sale .title h4{ background:url(../images/titleL.gif) no-repeat; width:137px; height:29px; font-size:14px; font-weight:bold; color:#fff; line-height:29px; text-indent:22px;}
	.hot_sale .title .btn{ width:44px; padding:6px 8px 0px 0px;}
	.hot_sale .title .btn a{ float:left; display:block; width:11px; height:17px; background:url(../images/point2.gif) no-repeat; text-indent:-1000px; overflow:hidden;}
	.hot_sale .title .btn a:hover{ background:url(../images/point1.gif) no-repeat}
	.hot_sale .title .btn a.current,.hot_sale .title .btn a.current:hover{background:url(../images/point1.gif) no-repeat;}
	
	
	
	.hot_sale .con{ width:759px; height:237px; border:1px solid #e6e6e6; position:relative; overflow:hidden;}
	.hot_sale .con .list{ margin:15px 21px; height:207px; overflow:hidden; width:4000px; position:absolute; left:0px; top:0px;}
	.hot_sale .con .list ul{ float:left; width:755px;}
	.hot_sale .con .list ul li{ float:left; width:153px; margin-right:35px;}
	.hot_sale .list ul li p.sale_p1{ margin-top:2px;}
	.hot_sale .list ul li p a{ line-height:20px; color:#333333;}
	.hot_sale .list ul li p.sale_p2{ color:#979797;}
	.hot_sale .list ul li p.sale_p2 span{ color:#cc0000; font-weight:bold; vertical-align:baseline;}

	
	.product_list{ width:759px; border:1px solid #dddddd; margin-top:13px;}
	.product_list .title{ height:35px; background:url(../images/title_bg.gif) repeat-x;}
	.product_list .title .sort{ width:255px; height:24px; padding-top:10px; padding-left:10px;}
	.product_list .title .sort a{ border:1px solid #d2d2d2; background:#fff; padding:4px 8px; margin-left:3px; display:inline;}
	.product_list .title .sort a.current,.product_list .title .sort a:hover{ border:1px solid #a10000; background:#cc0000; text-decoration:none; color:#fff;}
	
	
	
	.product_list .title .sort_type{ width:155px; margin-left:42px; display:inline; height:35px;}
	.product_list .title .sort_type p{ width:29px; line-height:35px;}
	.product_list .title .sort_type .select_box{ width:122px; height:20px; margin-top:7px; background:url(../images/select_icon.gif) no-repeat; position:relative; z-index:10;}
	.product_list .title .sort_type ul.select_list{ width:120px; background:#FFFFFF; border:1px solid #b6b6b6; position:absolute; top:19px; left:0px; display:none;}
		
	.product_list .title .select_box .current{ display:block; line-height:20px; text-indent:6px; cursor:pointer;}
			
	ul.select_list li{ height:20px; line-height:20px; text-indent:4px; cursor:pointer;}
	ul.select_list li:hover{ background:#CCCCCC;}
	
	
	
	.product_list .title .price{ width:190px; margin-left:16px; display:inline; margin-top:7px;}
	.product_list .title .price input{ width:30px; height:18px; border:1px solid #ccc; line-height:18px;}

	.product_list .title .price p{ margin-left:8px; display:inline; width:80px;}
	
	.product_list .title .price a.price_a1{ width:44px; height:17px; background:url(../images/price_bg1.gif) no-repeat; display:block; float:left;text-indent:5px; padding-top:3px;}
	.product_list .title .price a.price_a2{ width:43px; height:17px; background:url(../images/price_bg2.gif) no-repeat; display:block; float:left; text-indent:5px; padding-top:3px;}
	.product_list .title .price a:hover{ text-decoration:none}
	
	
	.product_list .title .city{ width:81px;}
	.city .select_box{ width:72px; height:20px; margin-top:7px; margin-right:9px; display:inline; background:url(../images/select_icon1.gif) no-repeat; position:relative; z-index:10;}
	.city ul.select_list{ width:70px; background:#FFFFFF; border:1px solid #b6b6b6; position:absolute; top:19px; left:0px; display:none;}
	
	
	
	.product_con{ width:721px; height:960px; padding:14px 18px 10px 20px; overflow:hidden;}
	.product_con ul{ width:800px;}
	.product_con ul li{ width:232px; float:left; margin-right:12px; height:323px; position:relative;}
	.product_con ul li p{ width:218px;}
	.product_con ul li p.p1{ color:#828183; margin-left:5px; display:inline;}
	.product_con ul li p.p1 span{ vertical-align:baseline;}
	.product_con ul li p.p1 span.sp2{ color:#555; margin-left:40px; display:inline;}
	.product_con ul li p.p1 span.sp1{ color:#ff3300; font-weight:bold; font-size:14px;}
	.product_con ul li p.p1 span.sp3{ text-decoration:line-through;}
	.product_con ul li p.p2{ margin-top:9px; margin-left:5px;}
	.product_con ul li .tips{ height:26px; width:128px; position:absolute; top:0; right:0; text-align:right; line-height:26px; display:none;}
	.product_con ul li:hover .tips{ display:block;}
	.product_con ul li .tips .tips_sp1{ width:50px; height:26px; background:url(../images/tips_btn1.gif) no-repeat 0px 4px; float:left;}
	.product_con ul li .tips .tips_sp2{ width:78px; height:26px; background:url(../images/tips_btn2.gif) no-repeat 0px 4px; float:right;}
	.product_con ul li .tips .tips_sp1 a{ margin-right:5px; display:inline;}
	.product_con ul li .tips .tips_sp2 a{ margin-right:10px; display:inline;}
	
	
	
	
	
	
	
	
	
	
	.page_down{ width:761px; height:39px; margin-top:15px;}
	.page_down .page_listL{float:left; width:320px}
	.page_down .page_listR{ float:right; width:358px;}
	.page_down .page_left{width:50px; height:23px; margin-right:6px; display:inline;}
	.page_down .page_right{width:50px; height:23px;}
	.page_down .page_left a{ border:1px solid #d5d5d5; background:#fff; color:#2b57a1; width:49px; height:21px; display:block; line-height:21px; text-align:center;}
	.page_down .page_right a{ border:1px solid #d5d5d5; background:#fff;color:#2b57a1; width:49px; height:21px; display:block; line-height:21px; text-align:center;}
	.page_down ul{ width:250px;}
	.page_down ul li{ float:left; color:#2b57a1; height:23px;}
	.page_down ul li.page_li a{ display:block; margin-left:4px; border:1px solid #d5d5d5; background:#fff; padding:1px 6px 2px 6px; margin-right:6px; color:#2b57a1;}
	.page_down ul li a{ display:block; border:1px solid #d5d5d5; background:#fff; padding:1px 6px 2px 6px; margin-right:6px; color:#2b57a1;}
	.page_down ul li a:hover{ border:1px solid #003867; background:#ecf6ff; padding:1px 6px 2px 6px; margin-right:6px; color:#2b57a1;}
	
	
	
	
	
	
	





